{:paths ["src"]
 :deps {org.clojure/clojure {:mvn/version "1.10.3"}
        org.clojure/tools.reader {:mvn/version "1.3.4"}
        org.clojure/data.finger-tree {:mvn/version "0.0.3"}
        org.flatland/ordered {:mvn/version "1.5.9"}
        metosin/malli {:mvn/version "0.8.0"}
        #_ #_ ch.gluet/couplet {:mvn/version "0.2.1"}
        com.gfredericks/test.chuck {:mvn/version "0.2.10"}
        hiccup/hiccup {:mvn/version "2.0.0-alpha2"}
        nu.validator/validator {:mvn/version "20.7.2"}
        garden/garden {:mvn/version "1.3.10"}
        juxt/dirwatch {:mvn/version "0.2.5"}
        instaparse/instaparse {:mvn/version "1.4.10"}
        nasus/nasus
        {:git/url "https://github.com/kachayev/nasus/"
         :sha "8923283db09f88f3503d0246bad31eea15341138"}}
 :aliases
 {:dev {:extra-paths ["test"]
        :extra-deps {criterium/criterium {:mvn/version "0.4.6"}
                     com.clojure-goes-fast/clj-async-profiler {:mvn/version "0.5.1"}
                     com.clojure-goes-fast/clj-memory-meter {:mvn/version "0.1.3"}
                     com.taoensso/tufte {:mvn/version "2.2.0"}
                     babashka/babashka.curl {:mvn/version "0.1.1"}}
        :jvm-opts ["-Djdk.attach.allowAttachSelf"
                   "-XX:+UnlockDiagnosticVMOptions"
                   "-XX:+DebugNonSafepoints"]}
  :test {:extra-paths ["test"]
         :extra-deps {org.clojure/test.check {:mvn/version "1.1.0"}
                      babashka/babashka.curl {:mvn/version "0.1.1"}}}
  :runner
  {:extra-deps {io.github.cognitect-labs/test-runner
                {:git/url "https://github.com/cognitect-labs/test-runner"
                 :sha "cc75980b43011773162b485f46f939dc5fba91e4" }}
   :main-opts ["-m" "cognitect.test-runner"]
   :exec-fn cognitect.test-runner.api/test
   :exec-args {:excludes [:performance]
               :patterns ["^(?!.*performance).*$"]}}
  :validate {:exec-fn site.fabricate.prototype.check/html
             :exec-args {:dirs ["docs/"]}}
  :serve {:main-opts ["-m" "http.server" "--dir" "docs"]}}}
