
/*

General idea with writing plain CSS: avoid premature abstraction.

Implement the outline of a design system in plain CSS, which is more than capable enough
for a website like Fabricate's documentation, then translate it into Garden if necessary.

this way, I don't have to worry about things like defselector when working on the essential
aspects of the layout. not having to translate regular CSS into Garden syntax when working
from guides and examples will reduce mental overhead as I try to understand the role they
play in producing the resulting visual style.

if I need to computationally generate things like shades of colors, a modular typographic scale,
or anything else, I can just make selective use of garden/css and then add the results to
this stylesheet.

*/

@font-face {
    font-family: "Commit Mono";
    font-weight: 200 800;
    src:
        url("") format("woff2");
}

:root {
    --color-white: #fcfbe7;
    --color-lightgray: #f2efe4;
    --color-clay: #c8beb7;
    --color-sand: #F0EEEA;
    --color-brown: #926844;
    --color-darkbrown: #34281D;
    --color-lightgreen: #afc38d;
    --color-green:  #3F6226;
    --color-gray:  #656565;
    --color-blue: #3C506F;
    --color-yellow: #AFA840;
    --color-darkgreen: 505D3B;
    --color-orange: #f96500;
    --color-burntorange: #632300;
    --display-sans: 'Lapidar 03', sans-serif;
    --sans: -apple-system, BlinkMacSystemFont, 'avenir next', avenir, 'segoe ui', 'helvetica neue', helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
    --grid-gap-x: min(10px, 1vw);

    --font-big: min(60px, 3em);
    --font-medium: min(24px, 2em);

}

article {
  /* font-family: 'Def Sans VF', sans-serif; */
  font-family: var(--sans);
  font-size: min(3vmin, 20px);
  line-height: 1.28;
  display: grid;
  grid-template-columns: repeat(8, minmax(3px, 1fr));
  grid-column-gap: var(--grid-gap-x);
  grid-row-gap: 0.3em;
  color: var(--color-darkbrown);
}

body {
  background: var(--color-sand);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--display-sans), sans-serif;
  font-weight: 900;
  grid-column: 2 / 8;
}
.main-track {
    grid-column: 2 / 8;
    /* display: grid; */
    /* grid-template-columns: subgrid; */
}

h1,h2 {
 margin-top: 0.12em;
 margin-bottom: 0.12em;
}

p {
  margin-top: 0em;
  margin-bottom: 0.67em;
  grid-column: 2 / 8;
}

.mono-txt,:where(code, kbd, pre, samp) {
    font-family: CommitMonoV142, monospace;
    font-size: 0.85em;
    line-height: 1.45;
}

.prop-txt {
    font-family: var(--sans);
}


pre {
  margin-top: 0;
  margin-bottom: 0;
  grid-column: 2 / 8;
  font-size: 0.9em;
}

.xl {
  font-size: 4em;
}

h1 {
  font-size: 2em;
}

.language-clojure.keyword {
    color: var(--color-burntorange);
}
.language-clojure.symbol {
    color: var(--color-darkgreen);
}


p:empty {
    display: none;
}
p :-moz-only-whitespace {
    display: none;
}

footer {
    font-family: var(--sans);
}


/* you know this is what borders in CSS are for, right? */
.contrast-card {
    background: var(--color-brown);
    color: var(--color-sand);
    margin-left: calc(var(--grid-gap-x) * -1);
    margin-right: calc(var(--grid-gap-x) * -1);
    padding-top: 0.5em;
    padding-bottom: var(--grid-gap-x);
    display: grid;
    grid-template-columns: subgrid;
    grid-column: 2 / 8;
}

.anti-contrast {
    padding-left: calc(var(--grid-gap-x) * 0.5);
    padding-right: calc(var(--grid-gap-x) * 0.5);
    padding-bottom: 0;
    color: var(--color-darkbrown);
    background: var(--color-sand);
    grid-column: 1 / 7;
    display: grid;
    grid-template-columns: subgrid;
}

.bg-green {
    background: var(--color-green);
}

.bg-brown {
    background: var(--color-brown);
}
.ol-brown {
    outline-color: var(--color-brown);
}



.contrast-card > * {
    margin-left: var(--grid-gap-x);
    margin-right: var(--grid-gap-x);
}

.main-ns, .primary-fn {
    font-size: var(--font-big);
    font-weight: 900;
    grid-column-start: 1;
}

.ns-annotation, .primary-fn-fqn {
    font-weight: 500;
    font-size: var(--font-medium);
    grid-column-start: 1;
}

.contrast-card > p {
    grid-column-start: 1;
}

.anti-contrast > dl, .card > dl {
    display: grid;
    grid-column: 1 / 7;
    grid-template-columns: subgrid;
    grid-row-gap: 0.5em;
}

.fn-description {

}

.fn-description > dt {
    font-family: var(--display-sans);
    font-size: var(--font-medium);
    font-weight: 800;
    grid-column: 1 / 2;
}



.fn-description > dt:after {
    content: ": "
}

.fn-description > dd {
    grid-column: 3 / 7;
    margin-left: 0;
}

.fn-description > dd ul,ol {
    padding-left: calc(var(--grid-gap-x) * 3);
}

.card {
    display: grid;
    grid-template-columns: subgrid;
    outline-style: solid;
    outline-width: var(--grid-gap-x);
    grid-column: 2 / 8;
    margin-bottom: var(--grid-gap-x);
}

.card .top {
    grid-column: 1 / 8;
    color: var(--color-sand);
}

.card dl {
    display: grid;
    grid-column: 1 / 8;
    grid-template-columns: subgrid;
    margin-top: 0em;
}

.card dl dt {
    grid-column: 1 / 3;
    font-family: var(--display-sans);
    font-weight: 900;
    font-size: 1.25em;
    margin-left: 0.15em;
}

.card dl dd {
    grid-column: 3 / 7;
    margin-left: 0em;
}





.split {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: subgrid;
    margin-left: var(--grid-gap-x);
    margin-right: var(--grid-gap-x);
}

.split dl {
    /* grid-row-gap: calc(var(--grid-gap-x) * 2); */
    display: grid;
    grid-template-columns: subgrid;
    grid-column: 1 / -1;
    grid-row-gap: calc(var(--grid-gap-x) * 1.9);
    margin-left: var(--grid-gap-x);
    margin-right: var(--grid-gap-x);
}

.split dl div {
    display: grid;
    grid-template-columns: subgrid;
    grid-column: 1 / -1;
    outline-style: solid;
    outline-width: var(--grid-gap-x);
    /* grid-row-gap: calc(var(--grid-gap-x) * 0.95); */
}

.split dl div>* {
    padding-bottom: 0.5em;
}

.split dl div dt:first-child {
    color: var(--color-sand);
}

.split dl div dt:not(:first-child) {
    background: var(--color-sand);
}

.split dl dt {
    grid-column: 1 / 4;
    font-family: var(--display-sans);
    font-weight: 900;
    font-size: 1.5em;
    padding-left: 0.15em;
    padding-right: 0.15em;
}

.split dl dd {
    grid-column: 4 / -1;
    margin-left: 0em;
    background: var(--color-sand);
    color: var(--color-black);
    padding: 0.1em;
}


a.decor-internal {
    text-decoration: none;
    color: inherit;
}

a.decor-internal:after {
    content: "▸";
}

a.decor-internal:hover {
    color: inherit;
    text-decoration: underline;
}
